@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen Till Inredning Online</h1>
    <p>På den här sidan kan du som inloggad användare skapa och hantera beställningar till inredningsprojekt. </p>
    <p>Gå in på sidan Projekt ovan.</p>
    <p>Om du har rollen som inredare ser du dina egna projekt och kan hantera dessa.</p>
    <p>Om du har rollen som inköpare ser du alla projekt och kan hantera dessa.<br />
    Dessutom ser du en sammanställnig  av kostnaderna för projektetn.</p>
    <p>Varje ny användare får rollen som inredare. Om du vill ha rollen som inköpare behöver ditt användarnamn läggas till i en lista i applikationen.</p>

</div>
<br />
<br />
<div class="text-center border border-warning">
    <p><i>Då detta är en demo-applikation listas de användare som finns i applikationen nedan. <br />
        Användarnamn , lösenord, roll:<br />
        bengt@ballong.se bengt123 inredare<br />
        sigrid@ballong.se sigrid123 inredare<br />
        ingrid@ballong.se ingrid123 inköpare<br />
        <br />
        Så här görs naturligtvis aldrig i en riktig applikation utan det är endast i demonstrationssyfte.</i></p>
</div>
